@model ATS2019_2.Models.Changepasswordmodel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}

@using (Html.BeginForm("ChangePassword", "ATS", FormMethod.Post))
{
    <h1>Change Password</h1>
    <div class="contentform">
        @if (ViewBag.msg != null)
        {
            <div id="sendmessage"> ViewBag.msg </div>
        }


        <div class="leftcontact">
            <div class="form-group">
                <p> Username <span>*</span></p>
                <span class="icon-case"><i class="fas fa-unlock-alt"></i></span>
                @Html.TextBoxFor(m => m.username, new {@class="ggg", @Value=User.Identity.Name, @readonly="readonly" })
                <div class="validation"></div>
            </div>

            <div class="form-group">
                <p>Old Password <span>*</span></p>
                <span class="icon-case"><i class="fa fa-male"></i></span>
                @Html.PasswordFor(m => m.opwd, new { @class = "ggg", @required="required" })
                <div class="validation"></div>
            </div>

            <div class="form-group">
                <p>New Password <span>*</span></p>
                <span class="icon-case"><i class="fa fa-male"></i></span>
                @Html.PasswordFor(m => m.npwd, new { @class = "ggg", @required="required" })
                <div class="validation"></div>
            </div>

            

            <div style="display:flex;justify-content:center;align-items:center;margin: 20px 0;">
                <input type="submit" class="bouton-contact" id="btnsearch" style="width:200px; margin-right:10px;" value="Change">

                <input type="reset" class="bouton-contact" value="Cancel" style="width:200px; margin-left:10px;background:#e84118;" />
            </div>

        </div>
    </div>

}

