
@{
    ViewBag.Title = "Managerdashboard";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}

<div class="dashboard">
    <div class="box_8_main">
        <div class="box_4_main">
            <div class="box box_1">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spclient">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/Viewclient">Client</a></h2>
                    </div>
                    <ion-icon name="contact"></ion-icon>
                </div>


            </div>
            <div class="box box_2">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spuser">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewUser">User</a></h2>
                    </div>
                    <ion-icon name="person"></ion-icon>
                </div>

            </div>
            <div class="box box_3">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spactive">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewRequirement">Requirement</a></h2>
                    </div>
                    <ion-icon name="briefcase"></ion-icon>
                </div>
            </div>
            <div class="box box_4">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="PendignApprovalcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewPendingApprovalList"> Pending Approval </a></h2>
                    </div>
                    <ion-icon name="checkbox"></ion-icon>
                </div>

            </div>
            <div class="box box_1">
                    <div class="clients">
                        <div class="clie">
                            <h1><span id="idod">0</span></h1>
                            <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewOfferDataList">Offer Data</a></h2>
                        </div>
                        <ion-icon name="lock"></ion-icon>
                    </div>

                </div>
                <div class="box box_2">
                    <div class="clients">
                        <div class="clie">
                            <h1><span id="idtbj">0</span></h1>
                            <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewToBeJoinList">To Be Join</a></h2>
                        </div>
                        <ion-icon name="lock"></ion-icon>
                    </div>

                </div>
            
            <div class="box box_3">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="idactreq">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewActiveRequirement">Active Requirement</a></h2>
                    </div>
                    <ion-icon name="lock"></ion-icon>
                </div>

            </div>
            <div class="box box_4">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="iddeactreq">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewDeactiveOrDeleteRequirement">Deactive Requirement</a></h2>
                    </div>
                    <ion-icon name="lock"></ion-icon>
                </div>

            </div>
        </div>
    </div>


    <!--  Second Division -->
    <div class="box_8_two">
        <h2>Months dash</h2>
        <div class="box_4_main">
            <div class="box box_5">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spsubmissionmonth">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthSubmission">Submission</a></h2>
                    </div>

                    <ion-icon name="more"></ion-icon>
                </div>


            </div>
            <div class="box box_6">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spinterviewmonth">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthIntervieww">Interview</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>


            </div>
            <div class="box box_7">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spoffermonth">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthOffer">Offer</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
            <div class="box box_8">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spstartmonth">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthStart">Start</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
        </div>

        <h2>Today dash</h2>


        <div class="box_4_main">
            <div class="box box_5">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spsubcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodaySubmission">Submission</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
            <div class="box box_6">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spintcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayInterview">Interview</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
            <div class="box box_7">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spoffcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayOffer">Offer</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
            <div class="box box_8">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="spstacnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayStart">Start</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
        </div>
    </div>
    <!--    /Dashboard ends            -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.get('getclientcount', null, function (data) {
            $("#spclient").html(data.clientcnt);
        }, "json");
        //month count
        $.get('getusercount', null, function (data) {
            $("#spuser").html(data.usercnt);
        }, "json");

        $.get('getactiverequirementcount', null, function (data) {
            $("#spactive").html(data.reqcont);
        }, "json");

        $.get('gettodaysubmissioncount', null, function (data) {
            $("#spsubcnt").html(data.tsubcnt);
        }, "json");

        $.get('gettodayinterviewcount', null, function (data) {
            $("#spintcnt").html(data.tintcnt);
        }, "json");

        $.get('gettodayoffercount', null, function (data) {
            $("#spoffcnt").html(data.toffcnt);
        }, "json");

        $.get('gettodaystartcount', null, function (data) {
            $("#spstacnt").html(data.tstartcnt);
        }, "json");

        $.get('getmonthsubmissioncount', null, function (data) {
            $("#spsubmissionmonth").html(data.msubcnt);
        }, "json");

        $.get('getmonthinterviewcount', null, function (data) {
            $("#spinterviewmonth").html(data.mintcnt);
        }, "json");

        $.get('getmonthoffercount', null, function (data) {
            $("#spoffermonth").html(data.moffcnt);
        }, "json");

        $.get('getmonthstartcount', null, function (data) {
            $("#spstartmonth").html(data.mstartcnt);
        }, "json");

        //Pending Accept Reject Count
        $.get('getAcceptRejectCountTeam', null, function (data) {
            $("#PendignApprovalcnt").html(data.rcnt);
        }, "json");
        //pending offer data add

        $.get('getoffereddataaddcount', null, function (data) {
            $("#idod").html(data.podc);
        }, "json");
        //To be join count data
        $.get('gettobejoincount', null, function (data) {
            $("#idtbj").html(data.tbjc);
        }, "json");
        
        $.get('getonlyactiverequirementcount', null, function (data) {
            $("#idactreq").html(data.actreqcont);
        }, "json");

        $.get('getnotactiverequirementcount', null, function (data) {
            $("#iddeactreq").html(data.deactreqcont);
        }, "json");
    });

</script>

