
@{
    ViewBag.Title = "Teamleaddashboard";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}


<div class="dashboard">
    <div class="box_8_main">
        <div class="box_4_main">
            <div class="box box_1">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="reqid">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewRequirement">requirement</a></h2>
                    </div>
                    <ion-icon name="briefcase"></ion-icon>
                </div>
              
            </div>
            <div class="box box_2">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="idod">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewOfferDataList">Offer Data</a></h2>
                    </div>
                    <ion-icon name="document"></ion-icon>
                </div>
                
            </div>
            <div class="box box_3">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="idtbj">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewToBeJoinList">To Be Join</a></h2>
                    </div>
                    <ion-icon name="folder"></ion-icon>
                </div>
                
            </div>
            <div class="box box_4">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="PendignApprovalcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewPendingApprovalList"> Pending Approval </a></h2>
                    </div>
                    <ion-icon name="checkbox"></ion-icon>
                </div>

            </div>

            @*<div class="box box_1">
                <div class="clients">
                    <div class="clie">
                        <h1>0</h1>
                        <h2>Clients</h2>
                    </div>
                    <ion-icon name="person"></ion-icon>
                </div>
               
            </div>
            <div class="box box_2">
                <div class="clients">
                    <div class="clie">
                        <h1>0</h1>
                        <h2>Clients</h2>
                    </div>
                    <ion-icon name="warning"></ion-icon>
                </div>
                
            </div>
            <div class="box box_3">
                <div class="clients">
                    <div class="clie">
                        <h1>0</h1>
                        <h2>Clients</h2>
                    </div>
                    <ion-icon name="stats"></ion-icon>
                </div>
              
            </div>
            <div class="box box_4">
                <div class="clients">
                    <div class="clie">
                        <h1>0</h1>
                        <h2>Clients</h2>
                    </div>
                    <ion-icon name="trending-up"></ion-icon>
                </div>
              
            </div>*@
        </div>
    </div>


    <!--  Second Division -->
    <div class="box_8_two">
        <h2>Months dash</h2>
        <div class="box_4_main">
            <div class="box box_5">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="msubcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthSubmission">Submission</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
                
            </div>
            <div class="box box_6">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="mintcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthIntervieww">Interview</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
               
            </div>
            <div class="box box_7">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="moffcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthOffer">Offer</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
             
            </div>
            <div class="box box_8">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="mstartcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewMonthStart">Start</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>

            </div>
        </div>

        <h2>Today dash</h2>


        <div class="box_4_main">
            <div class="box box_5">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="tsubcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodaySubmission">Submission</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
                
            </div>
            <div class="box box_6">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="tintcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayInterview">Interview</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
                
            </div>
            <div class="box box_7">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="toffcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayOffer">Offer</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
              
            </div>
            <div class="box box_8">
                <div class="clients">
                    <div class="clie">
                        <h1><span id="tstartcnt">0</span></h1>
                        <h2><a style="font-family: 'Cinzel', serif;color:white;font-size:16px;" href="/ATS/ViewTodayStart">Start</a></h2>
                    </div>
                    <ion-icon name="more"></ion-icon>
                </div>
 
            </div>
        </div>
    </div>
    <!--    /Dashboard ends            -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.get('getactiverequirementcount', null, function (data) {
            $("#reqid").html(data.reqcont);
        }, "json");
        //month count
        $.get('getmonthsubmissioncount', null, function (data) {
            $("#msubcnt").html(data.msubcnt);
        }, "json");

        $.get('getmonthinterviewcount', null, function (data) {
            $("#mintcnt").html(data.mintcnt);
        }, "json");

        $.get('getmonthoffercount', null, function (data) {
            $("#moffcnt").html(data.moffcnt);
        }, "json");

        $.get('getmonthstartcount', null, function (data) {
            $("#mstartcnt").html(data.mstartcnt);
        }, "json");

        //Day count
        $.get('gettodaysubmissioncount', null, function (data) {
            $("#tsubcnt").html(data.tsubcnt);
        }, "json");

        $.get('gettodayinterviewcount', null, function (data) {
            $("#tintcnt").html(data.tintcnt);
        }, "json");

        $.get('gettodayoffercount', null, function (data) {
            $("#toffcnt").html(data.toffcnt);
        }, "json");

        $.get('gettodaystartcount', null, function (data) {
            $("#tstartcnt").html(data.tstartcnt);
        }, "json");


        //Pending Accept Reject Count
        $.get('getAcceptRejectCountTeam', null, function (data) {
            $("#PendignApprovalcnt").html(data.rcnt);
        }, "json");

        //pending offer data add

        $.get('getoffereddataaddcount', null, function (data) {
            $("#idod").html(data.podc);
        }, "json");
        

        //To be join count data
        $.get('gettobejoincount', null, function (data) {
            $("#idtbj").html(data.tbjc);
        }, "json");

    });

</script>
