
@{
    ViewBag.Title = "UploadResume";
    Layout = "~/Views/ATS/_BlankPage.cshtml";
}

@using (Html.BeginForm("UploadResume", "ATS", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formonly" }))
{
    <h1>Upload Resume</h1>
    if (@TempData["msg"] != null)
    { 
        <div style="background:lightgreen; width:400px;margin:0 auto;padding:10px;color:white;text-align:center;">
            @TempData["msg"].ToString()
        </div>
    }
    <div class="contentform">
        <div class="leftcontact">
            <div class="form-group">
                <p>Select  Closingblock<span> * </span></p>
                <input type="file" name="closingblock" id="closingblock" />
            </div>
            <div class="form-group">
                <p>Select  Resume<span> * </span></p>

                <input type="file" name="resume" id="resume" />
            </div>
            <input type="hidden" value="@Request.QueryString["jid"]" name="jobid" id="jobid" />
        </div>
    </div>
    <button type="submit" class="bouton-contact">Upload</button>

}


