
@{
    ViewBag.Title = "ViewSalesTodayInterview";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}



<form class="onlyform">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet" />

    <div style="width:100%; padding:10px;">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>By</th>
                    <th>Location</th>
                    <th>Recruiter Name</th>
                </tr>
            </thead>
        </table>
    </div>
    @section scripts{

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

        <script>
            $(document).ready(function () {
                
                $("#myTable").DataTable({
                    "processing": true, // for show progress bar
                    //"serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": true, // for disable multiple column at once

                    "ajax": {
                        "url": "/ATS/LoadMonthInterview",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                            { "data": "g.R_Name", "name": "g.R_Name", "autoWidth": true },
                            {
                                "data": "f.I_Date",
                                'render': function (date) {
                                    var date = new Date(parseInt(date.substr(6)));
                                    var month = date.getMonth() + 1;
                                    return date.getDate() + "/" + month + "/" + date.getFullYear();
                                }
                            },
                            { "data": "f.I_Time", "name": "f.I_Time", "autoWidth": true },
                            { "data": "f.I_By", "name": "f.I_By", "autoWidth": true },
                            { "data": "f.I_Location", "name": "f.I_Location", "autoWidth": true },
                            { "data": "h.E_Fullname", "name": "h.E_Fullname", "autoWidth": true }
                    ]
                });
            });
        </script>
    }
</form>