
@{
    ViewBag.Title = "ViewHolidayList";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}



<form class="onlyform">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <h1>Holiday List</h1>
    <div style="width:100%; padding:10px;">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Holiday Name</th>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Type</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    

    <style>
        .statusclass {
            cursor: pointer;
        }

        #pop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            height: 250px;
            background: #f2f2f2;
            box-shadow: 1px 5px 10px #aaa;
            border-radius: 10px;
        }

        #mainpopup {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }

        #pop h2 {
            margin: 0 auto;
            color: #fff;
            font-family: Tahoma, Arial, sans-serif;
            text-align: center;
            padding: 5px;
            background: gray;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #pop .popcontent {
            border-top: 2px solid gray;
            overflow: auto;
            color: #333;
            padding: 10px;
        }

        #pop .close {
            position: absolute;
            top: 20px;
            right: 100px;
            transition: all 200ms;
            font-size: 50px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }
    </style>
    @section scripts{

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

        <script>
    $(document).ready(function () {
        
        var deleterole = @(User.IsInRole("Delete")?"true":"false");
        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            //"serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once

            "ajax": {
                "url": "/ATS/ViewHolidayListData",
                "type": "GET",
                "datatype": "json"
               
            },
               "columnDefs": [
                {
                    "targets": [4], //edit column
                    "visible": deleterole
                }],
            "columns": [
                    { "data": "Hname", "name": "Hname", "autoWidth": true },
                    { "data": "Hdate", "name": "Hdate", "autoWidth": true },
                    {
                        "data": "Hday",
                        "name": "Hday",

                    },
                    { "data": "Htype", "name": "Htype", "autoWidth": true },
                    {
                        mRender:function(data, type, row){
                            var rejectlink = '<a class="Deleteclass"  hid=' + row.Hid + '>Delete</a>';
                            return rejectlink;
                        }
                    }
            ]
        });

        $("#myTable").on('click', '.Deleteclass', function () {
            
            var hhid = $(this).attr("hid");
            $.ajax({
                url: 'Deleteholiday',
                datatype: 'json',
                type: 'post',
                data: { hid: hhid },
                success: function () {
                    window.location.reload();
                }

            });

        });


       

    });
        </script>
    }
</form>