@model IEnumerable<ATS2019_2.Models.UserModel>

@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}

    <form class="onlyform">
        <h1>View User</h1>
        @*<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />*@
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />

        <div style="width:100%; padding:10px;">
            <table id="myTable" class="display cell-border">
                <thead>
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Location</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                @*<tfoot>
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Location</th>
                        <th>Role</th>
                        <th>Email</th>
                    </tr>
                </tfoot>*@
            </table>
        </div>

        <style>
            .deleteclass {
                cursor: pointer;
            }

            .editclass {
                cursor: pointer;
            }

            #pop {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 400px;
                height: 250px;
                background: #f2f2f2;
                box-shadow: 1px 5px 10px #aaa;
                border-radius: 10px;
            }

            #mainpopup {
                visibility: hidden;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99999;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.7);
            }

            #pop h2 {
                margin: 0 auto;
                color: #fff;
                font-family: Tahoma, Arial, sans-serif;
                text-align: center;
                padding: 5px;
                background: gray;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            #pop .popcontent {
                border-top: 2px solid gray;
                overflow: auto;
                color: #333;
                padding: 10px;
            }

            #pop .close {
                position: absolute;
                top: 20px;
                right: 100px;
                transition: all 200ms;
                font-size: 50px;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
            }
        </style>
        <div id="mainpopup">
            <div id="pop">
                <h2>Requirement Status</h2>
                <div class="popcontent">
                    <table width="100%">
                        <tr>
                            <td width="50%">&nbsp;</td>
                            <td width="50%"><input type="hidden" id="userid" />  </td>
                        </tr>
                        <tr>
                            <td width="50%" style="text-align:center;vertical-align:top;"><p>Select LWD </p></td>
                            <td width="50%">
                                <input type="date" id="txtlwddt" class="ggg" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="100%" height="100%">
                                <center>
                                    <button type="button" id="btndeleteuser" class="bouton-contact" style="display: block;">Delete</button>
                                </center>
                            </td>
                        </tr>
                    </table>

                </div>
                <a class="close" style="top:-10px;right:10px;" href="#">&times;</a>
            </div>
        </div>
        @* Load datatable css *@



        @section scripts{
            
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

            <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
            <script scr="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

            <script>
    var editrole = @(User.IsInRole("Edit")?"true":"false");
            var deleterole = @(User.IsInRole("Delete")?"true":"false");
    $(document).ready(function () {

        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            //"serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 20,
            "ajax": {
                "url": "/ATS/LoadData",
                "type": "GET",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "targets": [7], //edit column
                    "visible": editrole
                },
                {

                    "targets": [8], //edit column
                    "visible": deleterole
                }
            ],
            "columns": [
                    { "data": "E_Code", "name": "Employee Code", "autoWidth": true },
                    { "data": "E_Fullname", "name": "E_Fullname", "autoWidth": true },
                    { "data": "E_Company_Name", "name": "E_Company_Name", "autoWidth": true },
                    { "data": "E_Designation", "name": "E_Designation", "autoWidth": true },
                    { "data": "E_Location", "name": "E_Location", "autoWidth": true },
                    { "data": "E_Role", "name": "E_Role", "autoWidth": true },
                    { "data": "E_Email", "name": "E_Email", "autoWidth": true },
                    {// this is Actions Column
                        mRender: function (data, type, row) {
                            var linkEdit = '@Html.ActionLink("Edit", "Edituser", new { @uid = -1 }, new { @Class = "editclass"})';
                            linkEdit = linkEdit.replace("-1",  row.E_Code);
                            return  linkEdit
                        }
                    },
                    {// this is Actions Column
                        mRender: function (data, type, row) {
                            var al = '<a class="deleteclass"  uid=' + row.E_Code+ '>Delete</a>';
                            return al;
                        }


                    },
            ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'excel',
                                messageTop: 'User',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'csv',
                                messageTop: 'User',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'pdf',
                                messageTop: 'User',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            'colvis'
                        ],
                        select: true
        });
        $('#myTable').on('click', '.deleteclass', function () {

                var uuid=$(this).attr('uid');
                $("#mainpopup").css('visibility','visible');
                $("#userid").val(uuid);
        });



        $('#myTable').on('click', '.editclass', function () {
            if (confirm("Want to edit this record ?")) {
                return true;
            }
            else {
                return false;
            }

        });

        $("#btndeleteuser").click(function(){
            var ucode= $("#userid").val();
            var edate = $("#txtlwddt").val();

            $.ajax({
                url:'Deleteuser',
                data:{ecode:ucode,exitdt:edate},
                datatype:'json',
                type:'post',
                success:function(){
                    window.location.reload();
                }

            });

        });
        $(".close").click(function(){
            $("#mainpopup").css('visibility','hidden');
        });



    });
            </script>
        }


    </form>

