
@{
    ViewBag.Title = "ViewSalesClient";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}

    <form class="onlyform">
        <h1>View Sales Client</h1>
        @*<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />*@
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />

        @if (ViewBag.msg != null)
        {
            <div id="sendmessage"> @ViewBag.msg </div>
        }

        <div style="width:100%; padding:10px;">
            <table id="myTable" class="display cell-border">
                <thead>
                    <tr>
                        <th>Sales Name</th>
                        <th>Client Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        @* Load datatable css *@



        @section scripts{
            @*<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>*@
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

            <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
            <script scr="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

            <script>

    var deleterole = @(User.IsInRole("Delete")?"true":"false");

    $(document).ready(function () {

        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            //"serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once

            "ajax": {
                "url": "/ATS/LoadSalesClientData",
                "type": "GET",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "targets": [2], //edit column
                    "visible": deleterole
                }
            ],
            "columns": [
                    { "data": "d.E_Fullname", "name": "d.E_Fullname", "autoWidth": true },
                    { "data": "e.C_Name", "name": "e.C_Name", "autoWidth": true },
                    {// this is Actions Column
                        mRender: function (data, type, row) {
                            var linkDelete = '@Html.ActionLink("Delete", "DeleteSalesClient", new { @uid = -1 }, new { @Class = "deleteclass" })';
                            linkDelete = linkDelete.replace("-1", row.c.SC_Id);
                            return linkDelete;
                        }
                    }
            ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'excel',
                                messageTop: 'Sales client list',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'csv',
                                messageTop: 'Sales client list',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'pdf',
                                messageTop: 'Sales client list',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            'colvis'
                        ],
                        select: true
        });



        $('#myTable').on('click', '.deleteclass', function () {
            if (confirm("Want to delete this record ?")) {
                return true;
            }
            else {
                return false;
            }

        });





    });
            </script>
        }


    </form>
